#wrapper_Container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 600px;
    background-image: url(../assets/network.jpg);
    background-size: 100% 100%;
}
#title {
    position: relative;
    color: #fff;
    font-size: 48px;
    text-shadow: 5px 5px 5px #945c5c;
}
.top50{
    margin-top:50%;
}
#loginWrapper{
    position: relative;
    margin: 10px auto;
    width: 80%;
    height: auto;
    background: #f7f6f559;
    box-shadow: 0px 15px 25px #313030e6;
    border-radius: 0px 0px 30px 30px;
    /* border: 1px solid red; */
}