.clrBoth{
    clear: both;
    padding: 0px;
    margin: 0px;
}
.cntr{
    text-align: center;
}
.flt_lft{
    float: left;
}
.flt_rft{
    float: right;
}
.w50{
    width: 50%;
}
.w25{
    width: 25%;
}
.section{
    border: 1px solid red;
    position: relative;
    margin: 0px;
    padding: 0px;
    height: auto;
    display: inline-block;
}
